* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    cursor: url('https://nooryoosuf.github.io/repository-name/path/to/catpaw.png'), auto;
}
.container {
    position: relative; /* Added for positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
.logo {
    display: block;
}
.social-icons {
    position: relative; /* Added for positioning */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.social-icons a {
    position: relative; /* Added for positioning */
    color: #FE5B3C;
    font-size: 24px;
    margin-right: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(254, 91, 60, 0.1);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    transition: transform 0.2s ease-in-out;
}
.social-icons a:hover {
    transform: scale(1.2);
}
.fa-brands {
    font-size: 24px;
    margin: 0;
}
h3 {
    color: #CCE0F7;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 1.7;
    font-weight: normal;
    margin-top: 50px;
    padding: 0 20px;
}
.footer {
    padding: 30px 0;
    background-color: #111A23;
    text-align: center;
    font-size: 18px;
    color: rgb(162, 187, 211);
    width: 100%;
    z-index: 1;
    flex-grow: 0;
}

#sparkle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.sparkle {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #FE5B3C; /* Orange color */
    border-radius: 50%;
    opacity: 0;
    animation: sparkle 1s ease-out forwards;
}

@keyframes sparkle {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    50% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .social-icons a {
        font-size: 20px;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    h3 {
        font-size: 20px;
    }
    .footer {
        font-size: 16px;
    }
}
@media (max-width: 480px) {
    .social-icons a {
        font-size: 16px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    h3 {
        font-size: 18px;
        padding: 0 10px;
    }
    .footer {
        font-size: 14px;
    }
}
