* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}

html, body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}



.logo {
    display: block;
}

.social-icons a {
    color: #FE5B3C;
    font-size: 24px;
    margin-right: 20px;
    margin-top: -20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(254, 91, 60, 0.1);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.social-icons a:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.fa-brands {
    font-size: 24px;
    margin: 0 0px;
  }

h3 {
    color: #CCE0F7;
    text-align: center;
    font-size:24px;
    margin-bottom: 10px;
    line-height: 1.7;
    font-weight: normal;
    text-align: center;
    margin-top: 50px;
}

.footer {
    padding: 30px 0;
    background-color: #111A23;
    text-align: center;
    font-size: 18px;
    color: rgb(162, 187, 211);
    width: 100%;
    z-index: 1;
    flex-grow: 0;
}


